body {
    padding-bottom: 30px;
    /*font-family: "Roboto", Arial, sans-serif;*/
    color: #2c3e50;
    background-color: #fcfcfc;
    font-size:23px;
}

.page__tittle {
    /*text-align: center;*/
    margin: 2% auto auto;
    color: rgba(52, 73, 94, 1.0);
}

.page__content {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.content__algo {
    border-radius: 3px;
    margin-top: 10px;
    width: 49%;
}

.content__algo circle {
    /*TODO: BEM! */
    fill:#2980b9;
    stroke: #ecf0f1;
    stroke-width: 2;
}

.content__algo text {
    /*TODO: BEM! */
    font-size: 10px;
    fill: #ecf0f1;
}

.content__algo_bad {
    outline:  2px solid #c0392b;
}

.content__algo_good {
    float: right;
    outline: 1.5px solid #16a085;

}

.result {
    text-align: center;
    font-family: monospace;
}

.result__good {
    margin: 0.2em;
}

.result__bad {
    margin: 0.2em;
}

.result__missing-numbers {

    margin-left: 0.25em;
    border-radius: 4px;

    font-size: 0.7em;

    padding: 0.2em;
    color: #ecf0f1;
}

.result__missing-numbers_bad {
    background-color: #c0392b;
}
.result__missing-numbers_good {
    background-color: #16a085;

}